<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/turkey.ico">
  <!-- TAIL WIND -->
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: '#da373d',
          }
        }
      }
    }
  </script>
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <!-- GOOGLE FONT -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
  <!-- 한나 -->
  <link href="https://webfontworld.github.io/BMHanna11yrs/BMHanna11yrs.css" rel="stylesheet">
  <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <title>배달비 뿜빠이</title>
  <style>
    * {
      /* font-family: 'Jua', sans-serif; */
      font-family: 'BMHanna11yrs';
    }

    body {
      min-width: 570px;
      min-height: 500px;
    }
  </style>
  <script>
    function onClickCopy() {
      var obj = document.getElementById("open_url");
      var range = document.createRange();
      range.selectNode(obj.childNodes[0]); //텍스트 정보를 Range 객체에 저장
      // var sel = window.getSelection();
      // sel.removeAllRanges(); //기존 선택정보 삭제
      // sel.addRange(range); //텍스트 정보 선택
      // document.execCommand("copy"); //복사
      // window.location.href = range;
      var win = window.open(range, '_blank');
      win.focus();
      // sel.removeRange(range); //선택 정보 삭제
    }

    function onClickTogether() {
      let link = '{{ post.open_url }}';

      let user_id = '{{username}}';

      let objectId = '{{objectId}}';

      $.ajax({
        type: "POST",
        url: "/together",
        data: { user_id, objectId },
        // 데이터 주는방법
        success: function (response) { // 성공하면
          if (response["result"] == "success") {
            // alert(response["msg"]);
            // 3. 성공 시 페이지 새로고침
            // alert("등록완료!");
            // window.location.href = './';
            // alert(response['open_url']);
            // console.log('debug');
            if (window.confirm('확인 누르면 오픈채팅방으로 이동합니다!')) {
              var win = window.open(link, '_blank');
              win.focus();
              location.reload();
            } else {
              location.reload();
            }
          } else {
            // console.log('debug3');
            alert("server ERROR!")
          }
        }
      })
    }


  </script>
</head>

<body style=" background-color: rgb(43,195,190); display: flex; flex-direction: column;">
  <!-- NAV BAR -->
  <div style="display: flex; align-items: center; justify-content: space-between; position: sticky;
  top: 0px; background-color: rgb(43,195,190);">

    <div>
      <a href='/'><text
          style="margin-left: 5vw; font-size: 100px; color: white; font-weight: 800; letter-spacing: 10px;">배뿜</text></a>
      <text style="font-size:20px; color:white;">배달비를 뿜!하자</text>

    </div>
    <!-- LOGIN OR LOGOUT -->
    {% if login == True%}
    <a href="/logout">
      <button
        style="margin-right: 40px; background-color: white; outline: 0; border:0; width:150px; height: 60px; border-radius: 10px; color:rgb(43,195,190); font-size: 20px;">
        로그아웃
      </button>
    </a>
    {% else %}
    <a href="/signin">
      <button
        style="margin-right: 40px; background-color: white; outline: 0; border:0; width:150px; height: 60px; border-radius: 10px; color:rgb(43,195,190); font-size: 20px;">
        로그인
      </button>
    </a>
    <a href="/signup">
      <button
        style="margin-right: 40px; background-color: white; outline: 0; border:0; width:150px; height: 60px; border-radius: 10px; color:rgb(43,195,190); font-size: 20px;">
        회원가입
      </button>
    </a>
    {% endif %}
  </div>
  <div class="flex flex-1 h-screen mt-8 justify-center ">
    <div class="flex flex-col w-1/2 bg-white rounded-lg items-center">

      {% set date =  '%4s' % post.deadline %}
      {% if True %}
      <div class="flex justify-center block items-center my-4 w-full mt-16">
        <text style="text-align: right; color: rgb(43,195,190); width:103px;" class="text-3xl">상호명</text>
        <text class="w-1/3 text-right text-xl">{{post.shop}}</text>
      </div>
      <div class="my-3 flex justify-center block items-center my-4 w-full">
        <text style="text-align: right; color: rgb(43,195,190);  width:103px;" class="text-3xl">인원</text>
        <text class="w-1/3 text-right text-xl">{{post.user_list|length+1}} / {{post.min_num}} 명</text>
      </div>
      <div class="my-3 flex justify-center block items-center my-4 w-full">
        <text style="text-align: right; color: rgb(43,195,190);  width:103px;" class="text-3xl">시간</text>
        <text class="w-1/3 text-right text-xl">{{date}}</text>
      </div>
      <div class="my-3 flex justify-center block items-center my-4 w-full">
        <text style="text-align: right; color: rgb(43,195,190);  width:103px;" class="text-3xl">배달비</text>
        <text class="w-1/3 text-right text-xl">{{post.delivery_cost}}원</text>
      </div>
      {% if login == False %}
      {% elif (username == post.register_user) or (username in post.user_list)  %}
      <div class="my-3 flex justify-center block items-center my-4 w-full relative mb-16">
        <text style="text-align: right; color: rgb(43,195,190);  width:103px;" class="text-3xl">링크</text>
        <text class="w-1/3 text-right text-xl truncate ml-8" id="open_url">{{post.open_url}}</text>
        <button class="absolute right-16 border-gray-800 border-2 p-1 rounded-lg" onclick="onClickCopy()">
          이동
        </button>
      </div>
      {% else %}
      <button type="submit" onclick="onClickTogether()"
        class="w-1/2 text-center py-3 my-8 rounded bg-slate-700 text-white hover:bg-green-dark focus:outline-none">신청하기</button>
      {% endif %}
      {% endif %}

    </div>
  </div>
</body>

</html>