<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <title>배달비 뿜빠이</title>
</head>

<body style=" background-color: rgb(43,195,190); display: flex; flex-direction: column;">
  <!-- NAV BAR -->
  <div style="display: flex; align-items: center; justify-content: space-between; ">

    <div>
      <text style="margin-left: 5vw; font-size: 100px; color: white; font-weight: 800;">배 뿜</text>
      <text style="font-size:20px; color:white;">배달비 뿜</text>

    </div>
    <!-- LOGIN OR LOGOUT -->
    <button
      style="margin-right: 40px; background-color: white; outline: 0; border:0; width:200px; height: 80px; border-radius: 10px; color:rgb(43,195,190); font-size: 20px;">
      LOGIN
    </button>
  </div>

  <div style="display: flex; flex-direction: column; align-items: center;">
    <button
      style="background-color: #fff; color :black; border:white; border-radius: 50%; width: 40px; height: 40px; font-size: xx-large; font-weight: 900;">+</button>
    <li style="background-color:white;">ddd</li>

  </div>


</body>

</html>