<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="/static/turkey.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- TAIL WIND -->
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: '#da373d',
          }
        }
      }
    }
  </script>
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <!-- 한나 -->
  <link href="https://webfontworld.github.io/BMHanna11yrs/BMHanna11yrs.css" rel="stylesheet">
  <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <title>배달비 뿜빠이</title>
  <style>
    * {
      font-family: 'BMHanna11yrs';
    }

    body {
      min-width: 470px;
      min-height: 500px;
    }

    ul {
      list-style: none;
    }
  </style>
  <script>
    // $(document).ready(function () {
    //   showOrders();
    // });
    // function showOrders() {
    //   $.ajax({
    //     type: "GET",
    //     url: "/list",
    //     // async: false,
    //     data: {},
    //     success: function (response) {
    //       let posts = response["posts"];
    //       console.log(response);

    //     }
    //   })

    // }
    function onClickTogether(e) {
      e.stopPropagation();
      //console.log(event.target.parentNode.id);
      // console.log(this);
      let user_id = '{{ username }}';
      let objectId = event.target.parentNode.id;
      console.log(user_id);
      console.log(objectId);
      $.ajax({
        type: "POST",
        url: "/together",
        data: { user_id, objectId },
        // 데이터 주는방법
        success: function (response) { // 성공하면
          if (response["result"] == "success") {
            // alert(response["msg"]);
            // 3. 성공 시 페이지 새로고침
            // alert("등록완료!");
            // window.location.href = './';
            // alert(response['open_url']);
            // console.log('debug');
            if (window.confirm('확인 누르면 오픈채팅방으로 이동합니다!')) {
              window.location.href = response['open_url'];
            } else {
              location.reload();
            }
          } else {
            console.log('debug3');
            alert("server ERROR!")
          }
        }
      })
    }
    function onClickLoginBtn() {
      window.location.href = './signin';
    }
    function onClickPlusBtn() {
      let user_status = '{{ login }}';
      console.log(user_status);
      if (user_status == 'True') {
        window.location.href = './register';
      } else {
        alert('로그인해주세요');
      }
    }
    function onClickList(objectId) {
      window.location.href = './spec/' + objectId;
    }
  </script>
</head>

<body style=" background-color: rgb(43,195,190); display: flex; flex-direction: column;">
  <!-- NAV BAR -->
  <div style="display: flex; align-items: center; justify-content: space-between; position: sticky;
  top: 0px; background-color: rgb(43,195,190);">

    <div>
      <a href='/'><text
          style="margin-left: 5vw; font-size: 100px; color: white; font-weight: 800; letter-spacing: 10px;">배뿜</text></a>
      <text style="font-size:20px; color:white;">배달비를 뿜!하다</text>
      {%if login == True %}
      {{username}}님, 안녕하세요
      {%else%}

      {%endif%}


    </div>
    <!-- LOGIN OR LOGOUT -->

    {% if login == True%}
    <a href="/logout">
      <button
        style="margin-right: 40px; background-color: white; outline: 0; border:0; width:150px; height: 60px; border-radius: 10px; color:rgb(43,195,190); font-size: 20px;">
        로그아웃
      </button>
    </a>
    {% else %}
    <a href="/signin">
      <button
        style="margin-right: 40px; background-color: white; outline: 0; border:0; width:150px; height: 60px; border-radius: 10px; color:rgb(43,195,190); font-size: 20px;">
        로그인
      </button>
    </a>
    <!-- <a href="/signup">
      <button
        style="margin-right: 40px; background-color: white; outline: 0; border:0; width:150px; height: 60px; border-radius: 10px; color:rgb(43,195,190); font-size: 20px;">
        회원가입
      </button>
    </a> -->
    {% endif %}

  </div>

  <div class="flex flex-1 flex-col items-center">
    <button class="bg-white boder rounded-full w-12 h-12 text-5xl mt-8" onclick="onClickPlusBtn()">+</button>
    <!-- style="background-color: #fff; color :black; border:white; border-radius: 50%; width: 40px; height: 40px; font-size: xx-large; font-weight: 900;">+</button> -->

    <ul class="my-2 py-8 w-full flex items-center flex-col">

      <!-- <li class="bg-white my-4 w-1/2 block p-6 rounded">상호명 00:00시까지 예약받음 인원:3/4
        <button onclick="onClickSpec()">
          함께하기
        </button>
      </li> -->
      {% if orders|length > 0 %}
      {% for post in orders %}
      {% set date = post.deadline %}
      <li class="bg-white my-4 w-1/2 block p-6 drop-shadow-2xl" id={{post._id}} onclick="onClickList(this.id)"
        style="border-radius: 15px;">
        {{post.shop}}
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        {{ date }}까지 예약받음
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        현재인원 / 최소인원 : {{post.user_list|length+1}} / {{post.min_num}}
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        {% if login ==False %}

        {% elif username == post.register_user %}
        <button class="z-40 bg-slate-400 border-2 p-2.5 right-5">
          생성한 방
        </button>
        {% elif username not in post.user_list %}
        <button onclick="onClickTogether(event)" class="bg-amber-100 z-40 border-amber-100 border-2 p-2.5 right-5">
          함께하기
        </button>
        {% else %}
        <button class="z-40 border-2 p-2.5 right-5 bg-slate-400">
          신청완료
        </button>
        {% endif %}
      </li>
      {% endfor %}
      {% endif %}
    </ul>


  </div>


</body>

</html>