<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <!-- TAIL WIND -->
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: '#da373d',
          }
        }
      }
    }
  </script>
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <!-- 한나 -->
  <link href="https://webfontworld.github.io/BMHanna11yrs/BMHanna11yrs.css" rel="stylesheet">
  <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <title>배달비 뿜빠이</title>
  <style>
    * {
      font-family: 'BMHanna11yrs';
    }

    body {
      min-width: 470px;
      min-height: 500px;
    }

    ul {
      list-style: none;
    }
  </style>
  <script>
    // $(document).ready(function () {
    //   showOrders();
    // });
    // function showOrders() {
    //   $.ajax({
    //     type: "GET",
    //     url: "/list",
    //     // async: false,
    //     data: {},
    //     success: function (response) {
    //       let posts = response["posts"];
    //       console.log(response);

    //     }
    //   })

    // }

    function onClickSpec() {
      console.log("let it go");
    }
    function onClickLoginBtn() {
      window.location.href = './signin';
    }
    function onClickPlusBtn() {
      window.location.href = './register';
    }
  </script>
</head>

<body style=" background-color: rgb(43,195,190); display: flex; flex-direction: column;">
  <!-- NAV BAR -->
  <div style="display: flex; align-items: center; justify-content: space-between; position: sticky;
  top: 0px; background-color: rgb(43,195,190);">

    <div>
      <text style="margin-left: 5vw; font-size: 100px; color: white; font-weight: 800; letter-spacing: 10px;">배뿜</text>
      <text style="font-size:20px; color:white;">배달비를 뿜!하자</text>

    </div>
    <!-- LOGIN OR LOGOUT -->
    <button onclick="onClickLoginBtn()"
      style="margin-right: 40px; background-color: white; outline: 0; border:0; width:150px; height: 60px; border-radius: 10px; color:rgb(43,195,190); font-size: 20px;">
      LOGIN
    </button>
  </div>

  <div class="flex flex-1 flex-col items-center">
    <button class="bg-white boder rounded-full w-12 h-12 text-5xl mt-8" onclick="onClickPlusBtn()">+</button>
    <!-- style="background-color: #fff; color :black; border:white; border-radius: 50%; width: 40px; height: 40px; font-size: xx-large; font-weight: 900;">+</button> -->

    <ul class="my-2 py-8 w-full flex items-center flex-col">

      <!-- <li class="bg-white my-4 w-1/2 block p-6 rounded">상호명 00:00시까지 예약받음 인원:3/4
        <button onclick="onClickSpec()">
          함께하기
        </button>
      </li> -->
      {% for post in posts %}
      <li class="bg-white my-4 w-1/2 block p-6 rounded" id={{post._id}}>{{post.shop}}
        {{post.deadline[:2]}}:{{post.deadline[2:]}}시까지 예약받음
        인원:{{post.user_list|length}}/{{post.min_num}}
        <button onclick="onClickSpec()">
          함께하기
        </button>
      </li>
      {% endfor %}
    </ul>

  </div>


</body>

</html>