<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <link rel="shortcut icon" href="/static/turkey.ico">
  <!-- TAIL WIND -->
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: '#da373d',
          }
        }
      }
    }
  </script>

  <!-- GOOGLE FONT -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
  <!-- 한나 -->
  <link href="https://webfontworld.github.io/BMHanna11yrs/BMHanna11yrs.css" rel="stylesheet">
  <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <title>배달비 뿜빠이</title>
  <style>
    * {
      /* font-family: 'Jua', sans-serif; */
      font-family: 'BMHanna11yrs';
    }

    body {
      min-width: 570px;
      min-height: 500px;
    }
  </style>
  <script>
    function onClickLogin() {
      let id = $('#user_id').val();
      let pwd = $('#password').val();
    }
    function onClickSignUpBtn() {
      window.location.href = './signup';
    }


  </script>
</head>

<body style=" background-color: rgb(43,195,190); display: flex; flex-direction: column;">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
  </div>
  {% endfor %}
  <div class="min-h-screen flex flex-col">
    <div class="container max-w-md mx-auto flex-1 flex flex-col items-center justify-center px-2">
      <div class="py-8 rounded text-white w-full">
        <div class="flex items-end mb-8 justify-center">
          <h1 class="text-8xl text-center cursor-pointer" style="font-weight: 800;" id="logo">배뿜</h1>
          <text>배달을 뿜!하다</text>
        </div>
        <form method="POST">
          {{form.csrf_token}}
          <div style="display: flex; justify-content: space-evenly; align-items: center;" class="text-2xl">
            <text style="width: 129px;">아이디</text>
            {{form.username(class="block border border-grey-light w-2/3 p-3 rounded my-2 text-slate-700")}}
          </div>

          <div style="display: flex;justify-content: space-evenly; align-items: center;" class="text-2xl">
            <text style="width: 129px;">비밀번호</text>
            {{form.password(class="block border border-grey-light w-2/3 p-3 rounded my-2 text-slate-700 font-sans")|safe}}
          </div>


          {{ form.submit(class="w-full text-center py-3 rounded bg-slate-700 text-white hover:bg-green-dark focus:outline-none mt-8") }}
          <button type="submit" onclick="onClickSignUpBtn()"
            class="w-full text-center py-3 rounded bg-white text-black hover:bg-green-dark focus:outline-none my-1">회원가입
          </button>
        </form>

      </div>
    </div>
  </div>
  <script>
    const logoText = document.getElementById('logo');
    logoText.addEventListener('click', function () {
      location.href = "/";
    })
  </script>
</body>

</html>